<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Birthday
        </title>
    </head>
    <body>
        <form action = "/functions/birthday" method = "post">
            <p>
                Please enter your birthday:
            </p>
            <p>
                Month:
            </p>
            <p>
                <input type="text" id = "visitorBirthdayMonth" name = "visitorBirthdayMonth" value = "Insert your birth month here">
            </p>
            <p>
                Day:
            </p>
            <p>
                <input type = "text" id = "visitorBirthdayDay" name = "visitorBirthdayDay" value = "Insert your birth day here">
            </p>
            <p>
                <input type = "submit" value = "Submit" />
            </p>
        </form>
        {% if daysUntil %}
            <h2>
                Birthday Data
            </h2>
            <p>
                Month: {{month}}
            </p>
            <p>
                Day: {{day}}
            </p>
            <p>
                Days until next birthday: {{daysUntil}}
            </p>
        {% else %}
            <p>
                Invalid Arguments
            </p>
        {% endif %}
    </body>
</html>